.SPECIMEN{
    max-width: 100%;
    position: relative;
    font-size: 10px;
    /* background-color: grey; */
}

.specimen{
    max-width : 70%;
    min-width: 17em;
    

    margin: auto;
    font-family: 'Mulish', sans-serif;
    font-size: 2.2em;
    line-height: 1.57em;
    
    position: relative;
}

#cancel_btn , #edit_btn{
    position: absolute;
    left: 90%;
    top: -1.351em;
    width: 3.378em;
    height: 3.378em;
    opacity: 0.6;
}

#edit_btn{
    top:2.70em;
}

#cancel_btn:hover , #edit_btn:hover{
    opacity: 1.0;
    transition: opacity 0.3s;
    cursor: pointer;
}

#spec_img{
    width: 100%;
   
}

.specimen_image{
    max-width: 100%;
    height: 15.7em;
    background-color: rgb(123, 180, 123);
    border-radius: 1em;
    overflow:hidden;
    background-position:center center;
    background-repeat: no-repeat;
}

.specimen_text{
    margin-top: auto;
    margin: 10px 15px 10px 15px;
}

.specimen_text em{
    font-weight: 800;
    font-size: 1em;
    
    
}

@media(max-width: 1060px){
   
    .SPECIMEN{
        font-size: 55%;
    }
}

@media(max-width: 937px){
   
    .SPECIMEN{
        font-size: 48%;
    }
    
}


@media(max-width: 865px){
   
    .SPECIMEN{
        font-size: 40%;
    }
    
}

@media(max-width: 665px){
   
    .SPECIMEN{
        font-size: 45%;
    }
    
}

