.ABOUT{
    max-width: 100%;
    
    background-color: white;
    position: relative;
}

.about_written_content{
    position: relative;
    width: 85vw;
    height: fit-content;
    z-index: 4;
    margin: auto;
 }

 .about_para1{
    position: relative;
    margin-left: auto;
    

    padding-top: 200px;
    margin-bottom: 120px;
    z-index: 10;
    max-width: 730px;
    color: black;
    font-size: 20px;
    line-height: 30px;
    
    font-family: 'Mulish', sans-serif;

    text-align: justify;
    text-justify:inter-word;
 }

.about_para1 em{
    font-family: 'Philosopher', sans-serif;
    color: #3A7865;
    font-size : 60px;
    line-height: 70px;
}

.question_answer{
    position: relative;
    font-size: 40px;
}
