/* 
    primary green color - #3A7865
    secondary black color - #000000 80% opacity

    font-family: 'Philosopher', sans-serif;
    font-family: 'Mulish', sans-serif;
*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
html,body{
  min-width:400px;
  
  margin:0;
  padding:0;
  overflow-x: hidden;
 
  }
/* .App{
  height: 2840px;
} */

/* this is for the custom scroll bar*/

/* width */
::-webkit-scrollbar {
    max-width: 7px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3A7865; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 110, 93); 
  }

  ::selection {
    color: white;
    background: #3A7865;
  }
